.container {
    margin-top: 15px;
}

.event {
    margin-bottom: 24px;
}

.event svg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.event h2.label {
    margin-bottom: 0;
}

.event .hist {
    stroke: #000000;
    fill: none;
}

.overlays .yearLine line {
    stroke: #777777;
    stroke-width: 2px;
    stroke-dasharray: 3;
}

.overlays .yearLine text {
    font-size: 13px;
    fill: #555555;
}

.event .main .bars {
    fill: #2E69FF;
}

.event .main .bars.leap {
    fill: #54B1FF;
}

.event .overlays .dateOverlay rect.hover {
    fill: rgba(0, 0, 0, 0);
}

.event .overlays .dateOverlay text.overbar {
    font-size: 12px;
    fill: none;
}

.event .overlays .dateOverlay:hover text.overbar, .event .overlays .dateOverlay.touching text.overbar {
    fill: #000000;
}

.event .belowAxis .thresholdLabel line {
    stroke: #555555;
}

.event .belowAxis .thresholdLabel text {
    fill: #555555;
    font-size: 13px;
}

#big-answer {
    text-align: center;
    /*margin-top: 100px;*/
    font-size: 150px;
    text-transform: uppercase;
}

#answer-description {
    margin-bottom: 50px;
}
