.event .hist {
    stroke: #000000;
    fill: none;
}

.event .eventLabel {
    fill: #555555;
    font-size: 14px;
}

.overlays .yearLine line {
    stroke: #ee0022;
    stroke-width: 2px;
}

.event .main .bars {
    fill: #2E69FF;
}

.event .main .bars.leap {
    fill: #54B1FF;
}

.event .overlays text.overbar {
    font-size: 12px;
    fill: none;
}

.event .overlays text.overbar.selected {
    fill: #000000;
}
